version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5
jobs:
  build:
    environment:
      # Configure the JVM and Gradle to avoid OOM errors
      _JAVA_OPTIONS: "-Xmx3g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
    docker:
      - image: circleci/openjdk:11.0.3-jdk-stretch
    steps:
      - checkout
      - restore_cache:
          key: v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - restore_cache:
          key: v1-gradle-cache-{{ checksum "build.gradle.kts" }}
      - run:
          name: Install dependencies
          command: ./gradlew build -x test
      - save_cache:
          paths:
            - ~/.gradle/wrapper
          key: v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - save_cache:
          paths:
            - ~/.gradle/caches
          key: v1-gradle-cache-{{ checksum "build.gradle.kts" }}
      - persist_to_workspace:
          root: .
          paths:
            - build
  test:
    environment:
      # Configure the JVM and Gradle to avoid OOM errors
      _JAVA_OPTIONS: "-Xmx3g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=1"
      TELEGRAM_EXTERNALURL: ${CIRCLE_BUILD_URL}
      TELEGRAM_CREATORID: ${CREATOR_ID}
      TELEGRAM_PROXYHOST: ${PROXY_HOST}
      TELEGRAM_PROXYPORT: ${PROXY_PORT}
      TELEGRAM_PROXYUSER: ${PROXY_USER}
      TELEGRAM_PROXYPASSWORD: ${PROXY_PASSWORD}
      TELEGRAM_BOTTOKEN: ${BOT_TOKEN}
      TELEGRAM_BOTUSERNAME: ${BOT_USERNAME}
    docker:
      - image: circleci/openjdk:11.0.3-jdk-stretch
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Run tests
          command: ./gradlew test $GRADLE_ARGS jacocoTestReport
      - store_test_results:
          path: build/reports/jacoco/report.xml
      - codecov/upload:
          file: ${CIRCLE_WORKING_DIRECTORY}/build/reports/jacoco/report.xml
      - store_artifacts:
          path: build/reports/jacoco/report.xml
          when: always
      - run:
          name: Assemble JAR
          command: |
            # Skip this for other nodes
            if [ "$CIRCLE_NODE_INDEX" == 0 ]; then
              ./gradlew assemble
            fi
      # This will be empty for all nodes except the first one
      - store_artifacts:
          path: build/libs

workflows:
  version: 2.1
  workflow:
    jobs:
      - build
      - test:
          requires:
            - build